@font-face {
    font-family: 'MR';
    src: url(../fonts/Kodchasan-Bold.ttf);
}
@font-face {
    font-family: 'MB';
    src: url(../fonts/Kodchasan-Medium.ttf);
}
@font-face {
    font-family: 'ML';
    src: url(../fonts/Kodchasan-Medium.ttf);
}
@font-face {
    font-family: 'MP';
    src: url(../fonts/Kodchasan-Medium.ttf);
}